@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.container {
  width: 100%;
}
.image {
  width: 100%;
  height: 475px;
  display: flex;
  flex-wrap: wrap;
}
.img {
  position: relative;
  width: 100%;
  height: 100%;
}
.text-over-photo {
  position: absolute;
  top: 12rem;
  left: 30rem;
}
.heading {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  margin-top: 60px;
}
/* .text-over-photo p{
  color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:16px;
  font-family: Raleway, sans-serif;
} */
.text-over-photo h1 {
  font-size: 56px;
  font-weight: 900;
  line-height: 64px;
  color: #fff;
  font-family: Poppins, sans-serif;
}
.text {
  line-height: 30px;
  padding: 60px 110px;
}
span {
  font-weight: bolder;
}
.paragraph-two {
  margin-top: 1rem;
}
.paragraph-three {
  margin-top: 1rem;
}
.paragraph-four {
  margin-top: 1rem;
}
.text2 {
  margin-top: -2rem;
  margin-left: 6.8rem;
}
.text2 h3 {
  font-weight: 400;
  font-size: 24px;
  font-family: Poppins, sans-serif;
}
.ul-points {
  margin-top: 0.5rem;
  padding: 0 0 8px;
  line-height: 30px;
  font-size: 14px;
  margin-left: 30px;
}
.ul-points h3 {
  font-weight: 400;
  font-size: 24px;
  margin-top: 25px;
  margin-bottom: 15px;
  font-family: Poppins, sans-serif;
}
.second-container {
  width: 100%;
  height: auto;
  padding: 60px 0;
}
.row-container {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding-left: 5rem;
}
.row-container p {
  font-size: 14px;
}
.para-one {
  line-height: 30px;
}
.para-two {
  line-height: 30px;
}
.para-three {
  line-height: 30px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 2rem;
  font-size: 16px;
}
.third-container {
  width: 100%;
}
.third-container h3 {
  margin-top: 60px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  text-align: center;
}
.third-second-container {
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10rem;
}
.third-left {
  flex: 1;
  height: auto;
}
.third-left img {
  width: 70%;
}
.third-left-heading {
  font-weight: 700;
  font-size: 1.75rem;
}
.list-heading {
  font-size: 1.75rem;
}
/* .third-left-heading h3{
  font-size:1.75rem;
} */
.third-left-para {
  margin-top: 10rem;
  line-height: 30px;
  font-weight: 700;
}
.third-left-para-one {
  line-height: 30px;
  font-weight: 700;
  margin-top: 4rem;
}
.third-right {
  flex: 1;
}
.third-right img {
  width: 70%;
}
.third-left img {
  width: 70%;
}
.icons-container {
  display: flex;
  padding-left: 20px;
  margin-left: 10rem;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: left;
  height: 70vh;
  background-color: #f0f0f0;
}
.icons-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 34px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}
.icons-right {
  flex: 2;
  padding-left: 15px;
}
.icons-tray-one {
  display: flex;
}
.image-inside-each-tray img {
  height: 75px;
  width: 70px;
}
.last-tray {
  flex: 1;
  text-align: center;
}
.icons-tray-two {
  display: flex;
  margin-top: 2rem;
}
.heading-above-images {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  margin-top: 60px;
}
/* li:before {
  content: "•";
  color: #ce3122;
  font-weight: 700;
  font-size: 30px;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-bottom: 5px;
}
li {
  list-style: none;
} */
.redbar {
  background: #ce3122;
  border: 0;
  width: 30%;
  height: 42px;
  display: block;
  margin: 5vw auto;
  border-radius: 5px;
  color: #fff;
  font-size: 22px;
  padding: 5px;
  text-align: center;
}
.end-container {
  margin-top: 60px;
  width: 85%;
  height: 100%;
  background-color: rgba(209, 224, 236, 0.21);
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 6rem;
}
.end-text {
  margin-top: 0;
  margin-bottom: 1rem;
}
footer {
  background: #020024;
  background: linear-gradient(0deg, #020024, #262626);
  padding: 60px 0;
  width: 100%;
  height: 100%;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 12px;
  margin-top: 4rem;
}
.footer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.footer-container {
  padding: 60px 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 5rem;
  gap: 5rem;
}
.footer-links {
  display: flex;
  gap: 6rem;
}
.footer-links a {
  color: #fff;
  padding: 5px 0;
  display: flex;
  text-decoration: none;
  align-items: center;
}
.divider {
  border-left: 1px solid hsla(0, 0%, 100%, 0.75);
  height: 100px;
  position: absolute;
  left: 50%;
  width: 1px;
  margin-left: -3px;
  top: 25%;
}
.logo-holder {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.microsoft-logo {
  flex: 1;
  border-left: 1px solid hsla(0, 0%, 100%, 0.75);
}
.world-map {
  flex: 1;
}
.second-container-heading {
  width: 80%;
  margin-left: 10rem;
  line-height: 30px;
}
.mid-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-top: 60px;
  margin-bottom: 30px;
  align-items: center;
  margin-left: -15px;
}
.list-left-container {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.paragraph-h3 {
  font-weight: 700;
  font-size: 1.75rem;
}
.mini-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col {
  flex: 1;
}
.paragraph-height {
  font-size: 14px;
}
