@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.container{
  width: 100%;
}
.image{
  width: 100%;
  height: 300px;
  position: relative;
  display:flex;
  background: url('https://celebaltech.com/assets/img/Power%20Automate%20Hero.webp');
  background-size: 100% auto!important;
  background-repeat: no-repeat;
  top: 4rem;
}
.image::before{
  content: "";
  background: rgba(0,0,0,.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.imagecontainer{
  position: relative;
  justify-content:center;
  align-items:center;
  text-align: center;
  display: flex;
  width: 100%;
}
.textoverphoto{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.textoverphoto h1{
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  color: #fff;
  font-family: Poppins,sans-serif;
}
.text{
  line-height: 30px;
  padding-left: 60px;
  padding-top: 6rem;
}
span{
  font-weight: bolder;
}
.paragraphtwo{
  margin-top:1rem;
}
.paragraphthree{
  margin-top:1rem;
}
.paragraphfour{
  margin-top:1rem;
}
.text2{
  margin-top:3rem;
}
.text2 h3{
  font-weight: 400;
  font-size: 24px;
  margin-left:4rem;
  font-family: Poppins,sans-serif;
}
.ulpoints{
  margin-top:0.5rem;
  padding: 0 0 8px;
  line-height: 30px;
  font-size: 14px;
  margin-left: 5rem;
}
.ulparagraphone{
  font-size: 14px;
  line-height: 30px;
  padding-left: 2rem;
  width:80%;
  padding-top: 1rem;
}
.ulparagraphtwo{
  font-size: 14px;
  line-height: 30px;
  padding-left: 2rem;
  padding-top: 1rem;
  width: 80%;
}
.middlecontainer{
  margin-top:8rem;
  display:flex;
  width: 100%;
  flex-wrap: wrap;
}
.list::before {
  content: "•";
  color: #ce3122;
  font-weight: 700;
  font-size: 30px;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-bottom: 5px;
}
list {
  list-style: none;
} 
.leftcontainer{
  padding-left:2rem;
  flex: 1;
  /* width: 100%; */
}
.leftcontainertext{
  flex:1;
  /* width: 100%; */
}
.leftcontainertext h3{
  font-weight: 400;
  font-size: 24px;
  font-family: Poppins,sans-serif;
}
.leftcontainer p{
  line-height: 30px;
}
.rightcontainer {
  height: 15rem;
  flex: 1;
}
.rightcontainer img{
  width: 500px;
  height:auto;
}
.lastcontainer{
	margin-top:2rem;
  display:flex;
  flex-wrap: wrap;
  width: 100%;
}
.lastleftcontainer{
  flex: 1;
  display: flex;
  justify-content: center;

}
.lastleftcontainer img{
  width:60%;
}
.lastrightcontainer{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
